<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <header></header>
    <main>
        {% block main %}
            <h1>Hello</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, distinctio doloremque dolorum et explicabo illum laudantium maxime minus natus necessitatibus, non nostrum pariatur provident quae quam quos rerum unde vitae.</p>
        {% endblock %}
    </main>

    <footer></footer>
</body>
</html>